{% assign item = include.item %}

<div class="course-entry">
    <div class="{% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray px-3 py-3">
        <h5 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>

        <p class="mb-1 small text-muted">
            <i>{{ item.role }}</i>
            {% if item.level %} | {{ item.level }}{% endif %}
            {% if item.semesters and item.semesters.size > 0 %} |
                {%- for semester in item.semesters -%}
                    {{ semester }}{% if forloop.last == false %}, {% endif %}
                {%- endfor -%}
            {% endif %}
        </p>

        {% if item.links %}
        <p class="small mb-0 lh-125 abstract-links">
            {% for link in item.links %}
                {% if link[1].url %}
                <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                {% else %}
                <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>